<article class="follow-card">
  <h5 class="follow-card__title">Who to follow</h5>
  <ul class="follow-card__people-list">
    <li class="people-list__card">
      <div class="avatar">
        <img src="https://i.pravatar.cc/150?img=15" alt="" />
      </div>
      <div class="info">
        <p class="info__name">John Doe</p>
        <p class="info__username">@johndoe</p>
      </div>
      <div class="actions">
        <button class="actions__btn">Follow</button>
      </div>
    </li>
    <li class="people-list__card">
      <div class="avatar">
        <img src="https://i.pravatar.cc/150?img=15" alt="" />
      </div>
      <div class="info">
        <p class="info__name">John Doe</p>
        <p class="info__username">@johndoe</p>
      </div>
      <div class="actions">
        <button class="actions__btn">Follow</button>
      </div>
    </li>
  </ul>
  <div class="follow-card__actions">
    <a class="actions__primary">Show more</a>
  </div>
</article>
