<article class="profile">
  <div class="profile__container">
    <div class="avatar">
      <img src="https://i.pravatar.cc/150?img=56" alt="avatar" />
    </div>
    <div class="user-info">
      <h6 class="user-info__name">Akhil Padmanabhan</h6>
      <p class="user-info__username">@akkitheakhil</p>
      <div class="user-info__about">hello hope you doing good</div>
    </div>
    <div class="social-info">
      <div class="social-info__block">
        <span class="count">800</span>
        <span class="label">Followers</span>
      </div>
      <div class="social-info__block">
        <span class="count">500</span>
        <span class="label">Following</span>
      </div>
    </div>
    <div class="actions">
      <a class="actions__profile">My Profile</a>
    </div>
  </div>
</article>
