<article class="trending-card">
  <div class="trending-card__header">
    <h5 class="title">Trending</h5>
    <fa-icon [icon]="faSettings" size="sm"></fa-icon>
  </div>

  <div>
    <div class="trending-card__trends">
      <h6 class="heading">Trending in Trivandrum</h6>
      <ul class="hashtag">
        <li class="hashtag__list">
          <a class="link">#Minnal Murali</a>
          <span class="tweets-count">100k Tweets</span>
        </li>
        <li class="hashtag__list">
          <a class="link">#movies</a>
          <span class="tweets-count">60k Tweets</span>
        </li>
      </ul>
    </div>
    <div class="trending-card__trends">
      <h6 class="heading">Trending in Trivandrum</h6>
      <ul class="hashtag">
        <li class="hashtag__list">
          <a class="link">#Minnal Murali</a>
          <span class="tweets-count">100k Tweets</span>
        </li>
        <li class="hashtag__list">
          <a class="link">#movies</a>
          <span class="tweets-count">60k Tweets</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="trending-card__actions">
    <a class="link">Show more</a>
  </div>
</article>
