<article class="dashboard">
  <section class="dashboard__section left">
    <div class="section-items">
      <twitter-profile-card></twitter-profile-card>
      <twitter-follow-suggestion></twitter-follow-suggestion>
    </div>
  </section>
  <section class="dashboard__section center">
    <twitter-feed-post-card></twitter-feed-post-card>
    <twitter-feed></twitter-feed>
  </section>
  <section class="dashboard__section right">
    <div>
      <twitter-trending-card></twitter-trending-card>
    </div>
  </section>
</article>
