.dashboard {
  display: grid;
  grid-template-columns: 230px 3fr 230px;
  padding: var(--spacing-base) var(--spacing-xxxl);
  gap: var(--spacing-large);

  &__section {
    display: grid;
    place-items: stretch;
    grid-template-columns: 1fr;
    gap: var(--spacing-large);

    &.right {
      justify-self: end;
      position: fixed;
    }

    .section-items {
      position: absolute;
      top: 80px;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-large);

      &.right {
        right: 16px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .dashboard {
  }
}
@media only screen and (max-width: 992px) {
  .dashboard {
    padding: 0 var(--spacing-xl);
    grid-template-columns: 230px 3fr;
    &__section {
      &.right {
        display: none !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
    padding: 0 var(--spacing-xl);
    place-items: stretch;
    padding: var(--spacing-xl) var(--spacing-large);
    align-items: center;
    gap: var(--spacing-base);
    &__section {
      width: 100%;

      &.left {
        display: none !important;
      }
    }
  }
}
